html {
    font-size: 62.5%;
}

button {
    margin: .1rem; /*it is applying margin to the button not the text*/
    padding: 2rem 4rem;
    background: none; /*background color not works here*/
    border: 0.3rem solid blue;
    color: white;
    font-size: 2.4rem;
    border-radius: 1rem;  /*50% will gonna be full round
    border-radius: 50%;
    height : 20rem;
    width : 20rem;*/ 
    background-color: blue;
}

